*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    text-align: center;
    font-size: 64px;
    color: white;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
body{
    background-color: #111111;
    background-position: center;
    background-size: cover;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: 0.25s;
}
.text-box h1{
    font-size: 62px;
    text-shadow: 5px 10px 10px #00000080;
    transition: 0.25s;
}
.hero-btn{
    border-radius: 25px;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 5px solid #ff0e5e;
    padding: 12px 34px;
    font-size: 16px;
    background: #111111;
    position: relative;
    box-shadow: 0px 5px 10px #00000080;
    cursor: pointer;
    transition: 0.25s;
}
.hero-btn:hover{
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0px 15px 25px #00000080;
    border: 5px outset #222222;
    background: #ff0e5e;
    color: white;
    transition: 0.25s;
}

@media(max-width: 700px){
    html, body {overflow-x: hidden;}
    .text-box h1{
        font-size: 40px;
        transition: 0.25s;
    }
    .hero-btn{
        font-size: 16px;
        padding: 10px 24px;
        transition: 0.25s;
    }
}