*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.header{
    min-height: 100vh;
    min-width: 100%;
    background-color: #111111;
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #222222;
}
nav img{
    width: 100px;
    border-radius: 25%;
    border: 5px solid #222222;
    box-shadow: 0px 10px 15px #00000050;
    transition: 0.25s;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-shadow: 0px 0px 5px #00000080;
    transition: 0.25s;
}
.nav-links ul li a:hover{
    color: #ff0e5e;
    text-shadow: 0px 5px 15px #00000080;

    transition: 0.25s;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ff0e5e;
    display: block;
    margin: auto;
    transition: 0.25s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
    text-shadow: 5px 10px 10px #00000080;
    padding-bottom: 20px;
    transition: 0.25s;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 18px;
    text-shadow: 2px 5px 3px #00000080;
    color: #dddddd;
    transition: 0.25s;
}
.hero-btn{
    border-radius: 25px;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 5px solid #ff0e5e;
    padding: 12px 34px;
    font-size: 16px;
    background: #111111;
    position: relative;
    box-shadow: 0px 5px 10px #00000080;
    cursor: pointer;
    transition: 0.25s;
}
.hero-btn:hover{
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0px 15px 25px #00000080;
    border: 5px outset #222222;
    background: #ff0e5e;
    color: white;
    transition: 0.25s;
}
nav .uil{
    display: none;
}

/* Footer */
.footer{
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #111111;
    border-top: 5px solid #222222;
    color: white;
}
.footer h4{
    margin: 10px;
    font-weight: 600;
    font-size: 24px;
}
.icons .uil{
    color: white;
    font-size: 20px;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    transition: 0.25s;
}
.icons .uil:hover{
    color: #ff0e5e;
    transition: 0.25s;
}


@media(max-width: 700px){
    html, body {overflow-x: hidden;}
    .text-box h1{
        font-size: 32px;
    }
    .text-box p{
        font-size: 14px;
    }
    nav img{
        width: 46px;
        border: 3px solid #222222;
    }
    .nav-links ul li{
        display: block;
        padding-bottom: 6px;
    }
    .nav-links ul li:hover::after{
        width: 0%;
    }
    .nav-links{
        position: absolute;
        background: #1b1b1b;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -220px;
        text-align: left;
        box-shadow: -10px 0px 20px #00000050;
        z-index: 2;
        transition: 0.25s;
    }
    nav .uil{
        display: block;
        color: #ffffff;
        margin: 20px;
        font-size: 24px;
        cursor: pointer;
        text-shadow: 0px 5px 2px #00000080;
        transition: 0.25s;
    }
    nav .uil:hover{
        color: #ff0e5e;
        text-shadow: 0px 0px 10px #00000080;
        transition: 0.25s;
    }
    .nav-links ul{
        padding: 30px;
    }
    .hero-btn{
        font-size: 16px;
        padding: 10px 24px;
    }
}