:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 80%;
    --main-width: 100%;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 12px;
    --theme: rgb(220, 220, 220);
    --header: rgba(255, 255, 255, 50%);
    --entry: rgb(235, 235, 235);
    --primary: black;
    --secondary: rgb(58, 58, 58);
    --tertiary: rgb(200, 200, 200);
    --content: rgb(50, 50, 50);
    --hljs-bg: rgb(20, 20, 22);
    --code-bg: rgb(190, 190, 190);
    --tag-bg: white;
    --toc-bg: rgb(230, 230, 230);
    --border: rgb(173, 173, 173);
    --hr-color: rgb(230, 230, 230);
    --shadow-color: rgba(0, 0, 0, 25%);
    --button-hover: rgb(253, 89, 124);
    --button-content-hover: rgb(245, 245, 245);
    --transition-duration: 0.1s;
    --image-background-color: rgb(20, 20, 20);
    --custom-button-color: rgb(255, 194, 41);
    --custom-button-color: rgb(180, 181, 238);
    --custom-button-hover: rgb(255, 194, 41);
    --download-button-text-color: black;
    --placeholder-image: url("../../img/Placeholder_Light.png");

    --unreal-engine-logo: url("../../img/logos/UE-Icon-2023-Black.svg");
    --extrone-ui-manager-logo: url("../../img/logos/Extrone_UI_Manager_Logo_Black.svg");
    --empty-logo: url("../../img/logos/EmptyLogo_Black.svg");
}

.dark {
    --theme: rgb(8, 10, 10);
    --header: rgba(255, 255, 255, 10%);
    --entry: rgb(30, 30, 35);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(10, 10, 10);
    --content: rgb(230, 230, 230);
    --tag-bg: rgb(50, 50, 50);
    --toc-bg: rgb(23, 25, 25);
    --hljs-bg: rgb(40, 40, 42);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(30, 30, 40);
    --hr-color: rgb(50, 50, 55);
    --button-hover: rgb(250, 59, 100);
    --placeholder-image: url("../../img/Placeholder_Dark.png");

    --unreal-engine-logo: url("../../img/logos/UE-Icon-2023-White.svg");
    --extrone-ui-manager-logo: url("../../img/logos/Extrone_UI_Manager_Logo_White.svg");
    --empty-logo: url("../../img/logos/EmptyLogo_White.svg");
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}