:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 85%;
    --main-width: 100%;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 12px;
    --theme: rgb(255, 255, 255);
    --header: rgba(0, 0, 0, 10%);
    --entry: rgba(0, 0, 0, 3%);
    --primary: black;
    --secondary: rgb(58, 58, 58);
    --tertiary: rgb(200, 200, 200);
    --content: rgb(50, 50, 50);
    --hljs-bg: rgb(20, 20, 22);
    --code-bg: rgb(235, 235, 235);
    --tag-bg: rgb(235, 235, 235);
    --toc-bg: rgba(0, 0, 0, 5%);
    --border: rgb(173, 173, 173);
    --hr-color: rgba(0, 0, 0, 3%);
    --shadow-color: rgba(0, 0, 0, 25%);
    --button-hover: rgb(253, 89, 124);
    --button-content-hover: rgb(245, 245, 245);
    --transition-duration: 0.1s;
    --image-background-color: rgb(20, 20, 20);
    --custom-button-color: rgb(218, 218, 218);
    --custom-button-hover: rgb(255, 194, 41);
    --download-button-text-color: black;
    --placeholder-image: url("../../img/Placeholder_Light.png");

    --unreal-engine-logo: url("../../img/logos/UE-Icon-2023-Black.svg");
    --godot-logo: url("../../img/logos/godot_icon_monochrome_light.svg");
    --godot-logo-color: url("../../img/logos/godot_icon_color.svg");
    --extrone-ui-manager-logo: url("../../img/logos/Extrone_UI_Manager_Logo_Black.svg");
    --editor-clock-logo: url("../../img/logos/Editor_Clock_Logo_Black.svg");
    --editor-clock-lite-logo: url("../../img/logos/Editor_Clock_Lite_Logo_Black.svg");
    --empty-logo: url("../../img/logos/EmptyLogo_Black.svg");
    --cpp-logo: url("../../img/logos/ISO_C++_Logo.svg");
    --discord-logo: url("../../img/logos/Discord-Logo-White.svg");

}

.dark {
    --theme: rgb(8, 8, 8);
    --header: rgba(255, 255, 255, 10%);
    --entry: rgba(255, 255, 255, 4%);
    --primary: rgb(255, 255, 255);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(10, 10, 10);
    --content: rgb(230, 230, 230);
    --tag-bg: rgb(50, 50, 50);
    --toc-bg: rgb(23, 25, 25);
    --hljs-bg: rgb(40, 40, 42);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(30, 30, 40);
    --hr-color: rgba(255, 255, 255, 4%);
    --button-hover: rgb(250, 59, 100);
    --placeholder-image: url("../../img/Placeholder_Dark.png");

    --unreal-engine-logo: url("../../img/logos/UE-Icon-2023-White.svg");
    --godot-logo: url("../../img/logos/godot_icon_monochrome_dark.svg");
    --extrone-ui-manager-logo: url("../../img/logos/Extrone_UI_Manager_Logo_White.svg");
    --editor-clock-logo: url("../../img/logos/Editor_Clock_Logo_White.svg");
    --editor-clock-lite-logo: url("../../img/logos/Editor_Clock_Lite_Logo_White.svg");
    --empty-logo: url("../../img/logos/EmptyLogo_White.svg");
}

.list {
    background: var(--theme);
}

.dark.list {
    background: var(--theme);
}