:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 80%;
    --main-width: 80%;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 16px;
    --theme: rgb(245, 245, 245);
    --entry: rgb(235, 235, 235);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(58, 58, 58);
    --tertiary: rgb(245, 245, 245);
    --content: rgb(31, 31, 31);
    --hljs-bg: rgb(28, 29, 33);
    --code-bg: rgb(245, 245, 245);
    --border: rgb(255, 255, 255);
    --shadow-color: rgba(0, 0, 0, 25%);
    --button-hover: rgb(253, 89, 124);
    --button-content-hover: rgb(245, 245, 245);
    --transition-duration: .15s;
}

.dark {
    --theme: rgb(0, 0, 0);
    --entry: rgb(30, 30, 35);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(10, 10, 10);
    --content: rgb(196, 196, 197);
    --hljs-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(0, 0, 0);
    --button-hover: rgb(250, 59, 100);
    --button-content-hover: rgb(245, 245, 245);
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}