* {
    scrollbar-color: rgba(var(--color-neutral-600)) rgba(var(--color-neutral-700), 50%);
}

#main-content {
    margin-bottom: 64px;
}

#site-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 50%);
    padding: 2px 8px;
    margin: 0px auto;
    width: fit-content;
    border-radius: 8px 8px 0 0;
    backdrop-filter: blur(32px);
}

#site-footer p {
    font-size: 14px;
    margin-right: 6px;
}

#site-footer p:has(a) {
    margin: 0;
}

#site-footer p:has(a)::before {
    content: "•";
    margin-right: 2px;
}

}

.extend-64 {
    height: 64px;
}

a > .icon {
    color: rgba(var(--color-neutral-400));
}

a[role=button] .icon svg,
.external-game-link .icon svg {
    width: 18px;
    height: 18px;
    color: white;
}

.taxonomy-terms {
    margin-top: 32px;
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
}

.taxonomy-terms > article {
    width: fit-content;
    background-color: rgba(var(--color-neutral-700));
    border-radius: 8px;
    margin: 2px;
    padding: 3px 12px 4px 12px;
}

.taxonomy-terms span {
    color: white;
}

.taxonomy-term {
    font-size: 18px;
    width: fit-content;
}

.extrone-pills {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    gap: 2px;
    margin: 4px auto;
    flex-wrap: wrap;
}

.extrone-pill {
    display: flex;
    width: fit-content !important;
    gap: 4px;
    background-color: rgba(var(--color-neutral-500));
    color: rgba(var(--color-primary-200));
    padding: 1px 6px;
    border-radius: 2px;
    word-break: keep-all;
    text-wrap-mode: nowrap;
}

.extrone-pill span:has(svg) {
    color: white;
}

.extrone-params {
    margin-top: 8px;
}

.extrone-params .extrone-pill {
    background-color: rgba(var(--color-neutral-700), 50%);
}

.extrone-pill>* {
    margin: auto;
}

.tag {
    background-color: rgba(0, 130, 100, 100%);
}

.project {
    background-color: rgb(168, 17, 85);
}

.engine {
    background-color: rgba(100, 100, 100, 100%);
}

.Unreal-Engine {
    background-color: rgba(100, 0, 180, 100%);
}

.ueversion {
    background-color: rgba(100, 50, 150, 100%);
}

.plang {
    background-color: rgba(0, 100, 150, 100%);
}

.contact-form {
    top: 0;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.extrone-profile figure {
    margin-bottom: 12px;
    border-radius: 128px;
    transition: .2s;
}

.extrone-profile figure img {
    width: 144px;
    border-radius: 128px;
    transition: .2s;
}

.extrone-profile h1 {
    color: rgba(var(--color-neutral-200));
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}

.contact-form form {
    max-width: 800px;
    width: inherit;
    transition: .2s;
}

.contact-field {
    display: flex;
    width: 60% !important;
    flex-direction: column;
    margin: 15px auto;
    font-weight: 500;
    transition: .2s;
}

.contact-field label {
    background-color: rgba(var(--color-neutral-700), 20%);
    padding: 4px 0 6px 10px;
    border-radius: 12px 12px 0 0;
    color: rgba(var(--color-primary-400));
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 16px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 25%);
    backdrop-filter: blur(8px);

}

.contact-form-input {
    background-color: rgba(var(--color-neutral-500), 20%);
    border-radius: 0 0 12px 12px;
    border: none;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 25%);
    color: rgba(var(--color-neutral-200));
    padding: 10px;
    transition: 0.2s;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 25%);
    backdrop-filter: blur(8px);
}

.contact-form-input::placeholder {
    color: rgba(var(--color-neutral-300));
}

.contact-field textarea {
    min-height: 128px;
    resize: none;
}

.submit-button {
    background-color: rgba(var(--color-neutral-600));
    color: rgba(var(--color-neutral-200));
    align-self: center;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 25%);
    transition: all .2s,transform .2s cubic-bezier(.175,.885,.32,2.275);
}

.submit-button:hover {
    transform: scale(1.05);
    background-color: cadetblue;
    transition: all .2s,transform .2s cubic-bezier(.175,.885,.32,2.275);
}

.submit-button:active {
    transform: scale(.9);
    transition: all .2s,transform .2s cubic-bezier(.175,.885,.32,2.275);
}

.required:after {
    content: '*';
    padding-left: 2px;
    color: rgba(var(--color-secondary-300));
}

.modal {
    display: flex;
    position: fixed;
    justify-content: center;
    z-index: 110;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: transparent;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(10px);
}

.modal-window {
    display: flex;
    flex-direction: column;
    max-width: 524px;
    max-height: 80vh;
    margin: auto;
}

.modal-title-bar {
    display: flex;
    flex-direction: row;
}

.modal-title {
    flex: 1;
    background-color: rgba(var(--color-neutral-800));
    padding: 12px 0;
    margin-right: 12px;
    border-radius: 12px 12px 0 0;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 25%);
}

.modal-content {
    display: flex;
    min-height: 200px;
    flex: 1;
    border-radius: 0 0 12px 12px;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: rgba(var(--color-neutral-700));
    padding: 12px;
    width: fit-content;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 25%);
    transition: .2s;
}

.modal-title h3 {
    color: rgba(var(--color-neutral-300));
    text-align: center;
    margin: 0;
    padding: 0;
    padding-left: 40px;
}

.modal-content p {
    font-size: 18px;
    color: rgba(var(--color-neutral-300));
    margin: auto 32px;
    text-align: center;
}

.modal-close-button {
    padding: 0 24px;
    background-color: rgba(var(--color-neutral-800));
    width: fit-content;
    margin: 0;
    font-weight: 900;
    border-radius: 12px 12px 0 0;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 25%);
    transition-duration: .2s;
}

.modal-close-button:hover {
    transform: translate(0, -12px);
    transition-duration: .2s
}

.article-link--simple,
details {
    border: dashed 1px rgba(var(--color-neutral-600));
    backdrop-filter: blur(24px);
}

.article-link--simple {
    margin-bottom: 20px;
    transition: .2s;
}

.article-link--simple:hover {
    background-color: rgba(var(--color-neutral-700), 10%);
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 50%);
    transition: .2s;
}

.article-link--simple> :nth-child(1) {
    transition: .2s;
}

.article-link--simple:hover> :nth-child(1) {
    transform: translate(-8px, 0) scale(1.05);
    transition: .2s;
}

.article-link__summary {
    line-height: 1.3em;
}

div:has(> .extrone-game-list) {
    max-width: none;
}

.games-heading {
    margin: 24px 0;
}

.extrone-game-list {
    width: fit-content !important;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.game-summary {
    border: none;
}

.extrone-game-thumbnail {
    background-color: rgba(var(--color-neutral-700), 20%);
    clip-path: inset(4px 4px 4px 4px round 8px 8px 8px 8px);
    display: flex;
    transition: .2s;
}

.extrone-game-thumbnail h3 {
    z-index: 10;
    position: absolute;
    bottom: 80px;
    left: 80px;
    margin: auto;
    color: rgba(var(--color-neutral-200));
    transition: .2s;
}

.extrone-game-thumbnail img {
    z-index: 20;
    min-height: 150px;
    width: 240px;
    height: auto;
    overflow: hidden;
    transition: .2s;
    pointer-events: none;
    padding: 0;
    margin: 0;
}

.article-link--game {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: fit-content;
    border: dashed 1px rgba(var(--color-neutral-600));
    background-color: rgba(var(--color-neutral-700), 25%);
    backdrop-filter: blur(16px);
    border-radius: 12px;
    transition: .2s;
}

.game-buy-button {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 4px;
    background-color: black;
    font-weight: 600;
    padding: 4px 12px;
    border-radius: 8px;
    margin: 12px auto;
    cursor: pointer;
    transition: all .2s,transform .2s cubic-bezier(.175,.885,.32,2.275);
}

.game-buy-button:hover {
    background-color: rgba(var(--color-neutral-700));
    transform: scale(1.1);
    transition: all .2s,transform .2s cubic-bezier(.175,.885,.32,2.275);
}

.game-buy-button span {
    color: white;
    margin: auto 0;
    margin-left: auto;
}

.game-buy-button p {
    margin: auto 0;
    transform: translate(0, -1px);
}

.game-price-og {
    color: rgba(200, 200, 200, 100%);
    font-weight: 500;
    text-decoration-line: line-through;
    text-decoration-thickness: 1px;
    text-decoration-inset: -1px;
}

.game-price {
    color: white;
    margin-right: auto !important;
}

.game-sale {
    color: rgba(var(--color-primary-600));
}

.sale-tag {
    font-size: 14px;
    display: flex;
    position: absolute;
    right: 0;
    gap: 4px;
    font-weight: 600;
    background-color: rgba(255, 200, 50, 100%);
    color: black;
    margin: 8px 8px;
    padding: 4px 8px;
    border-radius: 16px 6px 16px 16px;
}

.sale-tag span {
    margin: auto 0;
}

.sale-tag p {
    margin: 0 auto;
}

.article-link--game .extrone-pills {
    padding: 12px;
    padding-top: 0;
    margin: 0;
}

.article-link--game-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2px;
    padding-top: 0;
    overflow: hidden;
    margin: 0 auto;
}

.article-link--game-details a {
    display: flex;
    flex-grow: 1;
    margin: 0 auto;
    margin-top: 12px;
}

.article-link--game-details a h4 {
    margin: auto 0;
    margin-left: 8px;
}

.article-link--game-details a span {
    margin: auto 0;
    margin-left: 2px;
}

.article-link--game-details p {
    margin-bottom: 0;
}

.article-link--game:hover {
    background-color: rgba(var(--color-neutral-700), 30%);
    transition: .2s;
}

.article-link--game:hover>a>.extrone-game-thumbnail img {
    transform: scale(1.1);
    transition: .2s;
}

/* Timeline styling */
.article-content>ol>li>div>.block {
    background-color: rgba(255, 255, 255, 2%);
    border: dashed 1px rgba(var(--color-neutral-600));
    backdrop-filter: blur(4px);
}

/* Disable dotted border on left of TOC */
#TOCView>div {
    border: none;
    padding: 0 0 0 24px;
}

#TOCView {
    border-radius: 12px;
    padding: 0 12px 0 12px;
}

/* Table Styling */
table {
    padding: 6px 12px;
    border-radius: 12px;
    border: dashed 1px rgba(var(--color-neutral-600));
    backdrop-filter: blur(24px);
}

@media only screen and (max-width: 852px) {
    .contact-field {
        width: 90% !important;
    }
}

@media only screen and (max-width: 639px) {
    .extrone-game-thumbnail img {
        width: auto;
    }

    .article-link--game {
        margin: 0 auto;
    }
}