{{- $.Scratch.Set "theHref"    "#"                                }}
{{- $.Scratch.Set "theIcon"    "download"                                 }}
{{- $.Scratch.Set "theClasses" "button " }}
{{- if .IsNamedParams }}
  {{- $.Scratch.Set "theHref"    (.Get "href"    | default ($.Scratch.Get "theHref")    )}}
  {{- $.Scratch.Set "theIcon"    (.Get "icon"    | default ($.Scratch.Get "theIcon")    )}}
  {{- $.Scratch.Set "theClasses" (.Get "classes" | default ($.Scratch.Get "theClasses") ) }}
{{- else}}
  {{- $myPos := 0}} {{ if gt (len .Params) $myPos }} {{$.Scratch.Set "theHref"    (.Get $myPos) }} {{end}}
  {{- $myPos := 1}} {{ if gt (len .Params) $myPos }} {{$.Scratch.Set "theIcon"    (.Get $myPos) }} {{end}}
  {{- $myPos := 2}} {{ if gt (len .Params) $myPos }} {{$.Scratch.Set "theClasses" (.Get $myPos) }} {{end}}
{{- end}}
{{ $a := $.Scratch.Get "theIcon"}}
{{ $IconPath:= printf "%s" ".svg" | printf "%s%s" $a | printf "%s%s" "../../icons/"| printf "%s"}}
<a class="custom-button {{$.Scratch.Get `theClasses`}}" href="{{$.Scratch.Get `theHref` | relURL }}" rel="noopener noreferrer" target="_blank">
  <span>
    <span class="icon">
      <img src="{{- $IconPath }}" alt="">
    </span>
    <span>
      &nbsp;{{ .Inner }}&nbsp;
    </span>
  </span>
</a> 