{{- $.Scratch.Set "theHref"    "#"                                }}
{{- $.Scratch.Set "theIcon"    ""                                 }}
{{- $.Scratch.Set "theClasses" "button " }}
{{- if .IsNamedParams }}
  {{- $.Scratch.Set "theHref"    (.Get "href"    | default ($.Scratch.Get "theHref")    )}}
  {{- $.Scratch.Set "theIcon"    (.Get "icon"    | default ($.Scratch.Get "theIcon")    )}}
  {{- $.Scratch.Set "theClasses" (.Get "classes" | default ($.Scratch.Get "theClasses") ) }}
{{- else}}
  {{- $myPos := 0}} {{ if gt (len .Params) $myPos }} {{$.Scratch.Set "theHref"    (.Get $myPos) }} {{end}}
  {{- $myPos := 1}} {{ if gt (len .Params) $myPos }} {{$.Scratch.Set "theIcon"    (.Get $myPos) }} {{end}}
  {{- $myPos := 2}} {{ if gt (len .Params) $myPos }} {{$.Scratch.Set "theClasses" (.Get $myPos) }} {{end}}
{{- end}}
<a class="{{$.Scratch.Get `theClasses`}}" href="{{$.Scratch.Get `theHref` | relURL }}" style="--tertiary: black; --primary:rgb(255, 194, 41); --button-hover:rgb(216, 255, 41); --button-content-hover:black; font-weight: 600;" rel="noopener noreferrer" target="_blank">{{if $.Scratch.Get `theIcon`}}{{end}}&nbsp;{{ .Inner }}&nbsp;</a>