.archive-posts {
    width: 100%;
    font-size: 16px;
}

.archive-year {
    margin-top: 40px;
}

.archive-year:not(:last-of-type) {
    border-bottom: 5px solid var(--primary);
}

.archive-month {
    display: flex;
    align-items: flex-start;
    padding: 10px 0;
}

.archive-month-header {
    margin: 25px 0;
    width: 200px;
}

.archive-month:not(:last-of-type) {
    border-bottom: 5px solid var(--primary);
}

.archive-entry {
    position: relative;
    padding: 15px;
    margin: 13px 0;
    background-color: var(--content);
    outline: 5px solid transparent;
    border-radius: var(--radius);
    box-shadow: 0px 5px 10px var(--shadow-color);
    transition: var(--transition-duration);
}

.archive-entry:hover {
    background-color: var(--button-hover);
    transform: scale(1.025);
}

.archive-entry:focus-within {
    outline-color: var(--button-hover);
}

.archive-entry-title {
    margin: 5px 0;
    font-weight: 600;
    color: var(--theme);
}

.archive-count,
.archive-meta {
    color: var(--secondary);
    font-size: 14px;
    font-weight: 500;
    color: var(--theme);
}

.archive-count {
    color: var(--primary);
    font-weight: 800;
    border-radius: 25%;
}