.contact-form {
    display: flex;
    flex-direction: column;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    width: auto;
}

.contact-form form {
    min-width: 650px;
    width: 50%;
}

.contact-field {
    display: flex;
    width: auto;
    flex-direction: column;
    margin: 15px;
    transition: .15s;
}

.contact-field input {
    background-color: var(--primary);
    border-radius: calc(var(--radius)/2);
    color: var(--theme);
    padding: 10px;
    transition: .15s;
}

.contact-field textarea {
    min-height: 150px;
    background-color: var(--primary);
    border-radius: calc(var(--radius)/2);
    color: var(--theme);
    padding: 10px;
}

.submit-button {
    margin: 8px;
    margin-left: 0;
    border-radius: calc(var(--radius)/2);
    min-width: 10rem;
    width: 10rem;
    align-self: center;
    padding: 6px;
    transition: 0.15s;
}

.submit-button:hover {
    background: var(--button-hover);
    color: var(--primary);
    transform: scale(1.1, 1.1);
}

.submit-button:hover .button-inner {
    color: var(--button-content-hover);
}

.required:after {
    content: '*';
    padding-left: 1%;
    color: var(--button-hover);
}

.modal {
    display: none;
    position: fixed;
    justify-content: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--theme);
    background-color: rgba(0, 0, 0, .4);
}

.modal-content {
    display: flex;
    border-radius: var(--radius);
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: var(--theme);
    margin: auto 20px;
    padding: 20px;
    border: 5px solid var(--primary);
    width: fit-content;
    transition: .2s;
}
.socials .button {
    color: var(--theme);
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.button:hover {
    color: var(--primary);
}

.socials {
    display: flex;
    min-width: 650px;
    width: 50%;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    justify-content: left;
    align-items: left;
    align-content: left;
}

.social-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-content: left;
    align-items: left;
    align-content: left;
    gap: 12px;
    margin-left: 0;
}

.social-links .button {
    box-shadow: none;
    flex: 1;
    margin: 0;
}

@media only screen and (max-width: 1200px) {

    .socials {
        width: 80%;
    }

    .social-links {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .contact-form form {
        width: 80%;
    }
}

@media only screen and (max-width: 1000px) {

    .socials {
        width: 100%;
        min-width: 0;
    }

    .social-links {
        grid-template-columns: 1fr 1fr;
    }

    .contact-form form {
        min-width: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {

    .socials 
    {
        min-width: 0;
    }

    .social-links {
        grid-template-columns: 1fr;
    }

    .contact-form form {
        min-width: 0;
        width: 100%;
    }
}