.contact-form {
    display: flex;
    flex-direction: column;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    width: auto;
}

.contact-field {
    display: flex;
    width: auto;
    flex-direction: column;
    margin: 15px;
    transition: .15s;
}

.contact-field input {
    background-color: var(--primary);
    border-radius: calc(var(--radius)/2);
    color: var(--theme);
    padding: 10px;
    transition: .15s;
}

.contact-field textarea {
    background-color: var(--primary);
    border-radius: calc(var(--radius)/2);
    color: var(--theme);
    padding: 10px;
}

.submit-button {
    margin: 8px;
    border-radius: calc(var(--radius)/2);
    width: 50%;
    align-self: center;
    padding: 6px;
    transition: 0.15s;
}

.submit-button:hover {
    background: var(--button-hover);
    color: var(--primary);
    transform: scale(1.1, 1.1);
}

.submit-button:hover .button-inner {
    color: var(--button-content-hover);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--theme);
    background-color: rgba(0, 0, 0, .4);
}

.modal-content {
    display: flex;
    border-radius: var(--radius);
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: var(--theme);
    margin: 15% auto;
    padding: 20px;
    border: 5px solid var(--primary);
    min-width: 30%;
    width: fit-content;
}

.button {
    color: var(--theme);
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.button:hover {
    color: var(--primary);
}

.socials {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    align-items: center;
}

.social-links {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.social-links .button {
    box-shadow: none;
}

@media only screen and (max-width: 700px) {
    .social-links {
        flex-direction: column;
    }
}