* {
    transition: none;
}

.header {
    position: sticky;
    z-index: 100;
    width: 100%;
    max-width: var(--nav-width);
    margin: 0 auto;
    top: 0;
    background-color: var(--theme);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    box-shadow: 0 0 0 transparent;
    transition: calc(var(--transition-duration)*4) cubic-bezier(0.175, 1, 0.3, 1.1), background-color 0s;
}

html:not([data-scroll='0']) .header {
    max-width: 800px;
    background-color: var(--header);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    top: calc(var(--gap)*.5);
    border-radius: var(--radius);
    box-shadow: 3px 5px 15px var(--shadow-color);
    transition: calc(var(--transition-duration)*4) cubic-bezier(0.175, 1, 0.3, 1.1), background-color 0s;
}

html:not([data-scroll='0']) .nav {
    max-width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: var(--main-width);
    margin: 0 auto;
    line-height: var(--header-height);
    transition: calc(var(--transition-duration)*4) cubic-bezier(0.175, 1, 0.3, 1.1), background-color 0s;
}

.nav a {
    display: block;
    flex-shrink: 0;
    font-weight: 500;
    border-radius: calc(var(--radius)/2);
    transition: color var(--transition-duration);
}

.nav a:hover {
    color: var(--button-hover);
    transform: translate(0px, -2px);
}

.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
}

.logo {
    flex-wrap: inherit;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
}

.nav button svg {
    margin-bottom: 4px;
}

.logo a img,
.logo a svg {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

button#theme-toggle {
    flex: 1;
    font-size: 26px;
    margin: auto 4px;
}

button#theme-toggle:hover {
    color: var(--button-hover);
    transform: translate(0px, -2px);
    transition: var(--transition-duration);
}

button#theme-toggle:focus {
    color: var(--button-hover);
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu li+li {
    margin-inline-start: var(--gap);
}

#menu a {
    font-size: 16px;
}

#menu .active {
    font-weight: 600;
    border-bottom: 2px solid var(--primary);
}

#menu .active:before {
    content: "> ";
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto var(--gap);
    margin-left: 0;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}

@media only screen and (max-width: 800px) {
    .header {
        max-width: none;
    }
    html:not([data-scroll='0']) .header {
        max-width: none;
        border-radius: 0 0 var(--radius) var(--radius);
        top: 0;
    }
}

@media only screen and (max-width: 650px) {
    html:not([data-scroll='0']) .header {
        top: 0;
        margin: 0;
    }

    .nav {
        flex-direction: column;
        align-items: center;
        line-height: 48px;
    }
}