* { 
    font-family: 'Exo 2', sans-serif ;
    transition: none;
}

a {
    outline: none;
}

html, body {
    cursor: url("../../Cursors/Crosshair.png") 12 12, default;
}

.button, a, img {
    cursor: url("../../Cursors/HandPointing.png") 9 3, pointer !important; 
}

.custom-button {
    min-width: 128px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    flex: 0 1 auto;
    border: none !important;
    padding: 9px !important;
    background-image: linear-gradient(-45deg, #7AFF0000 1%, #C9FFBBFF 95%),radial-gradient(75% 75% at 61% 111%, #51FC9D99 0%, #00B59CFF 99%),linear-gradient(150deg, #000000FF 5%, #FFFFFFFF 99%) !important;
    text-shadow: 0px 0px 0px transparent;
    color:rgb(11, 65, 54) !important;
    transition: var(--transition-duration);
}

.custom-button:hover {
    letter-spacing: 0.15rem;
    transition: var(--transition-duration);
}

.custom-button span {
    display: flex;
    justify-content: center;
}

.custom-button .icon img{
    background: none !important;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

a:focus {
    color: var(--button-hover);
}

.main {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: var(--nav-width);
    margin: auto;
    padding: var(--gap);
}

.post-content {
    margin: auto;
}

.page-header h1 {
    font-size: 40px;
    font-weight: 800;
}

.pagination {
    display: flex;
}

.pagination a {
    color: var(--theme);
    font-size: 13px;
    line-height: 36px;
    background: var(--primary);
    border-radius: calc(36px / 2);
    padding: 0 16px;
}

.pagination .next {
    margin-inline-start: auto;
}

.social-icons {
    padding: 12px 0;
    justify-content: center;
    align-items: center;
    font-size: 0;
}

.social-icons a:not(:last-of-type) {
    margin-inline-end: 12px;
}

.social-icons a:hover {
    color: var(--button-hover);
    transition: var(--transition-duration);
}

.social-icons a svg {
    height: 24px;
    width: 24px;
    transition: var(--transition-duration);
}

code {
    direction: ltr;
}

div.highlight,
pre {
    position: relative;
}

.copy-code {
    display: block;
    opacity: 0;
    position: absolute;
    top: 4px;
    right: 4px;
    color: var(--hljs-bg);
    background: var(--button-content-hover);
    border-radius: calc(var(--radius)/2) !important;
    box-shadow: 2px 2px 5px var(--shadow-color) !important;
    outline: 3px solid transparent;
    padding: 2px 8px !important;
    font-size: 16px;
    user-select: none;
    transition: var(--transition-duration);
}

.copy-code:hover {
    transform: scale(1.2);
    background-color: var(--button-hover);
    color: var(--primary);
    transition: var(--transition-duration);
}

.copy-code:active {
    transform: scale(.95);
    transition: var(--transition-duration);
}

.copy-code:focus {
    outline: 3px solid var(--button-content-hover);
}

div.highlight:hover .copy-code,
div.highlight:focus-within .copy-code,
pre:hover .copy-code {
    opacity: 1;
    transition: var(--transition-duration);
}

.space-filler-parent {
    display: flex;
    flex-direction: row;
}

.space-filler {
    width: 100%;
    height: 100%;
    min-width: 10px;
    min-height: 10px;
    flex: 1;
    opacity: 0;
}

.no-posts {
    align-content: center;
    align-items: center;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    :root {
        --main-width: 100%;
    }

    .main {
        max-width: 100%;
    }
}