.portfolio-showcase {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: var(--radius);
  height: 100%;
  gap: 20px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.portfolio-showcase-item {
  padding: 10px;
  margin: 0;
  width: 95%;
  height: 100%;
  border: 5px solid transparent;
  background-color: transparent;
  transition: var(--transition-duration);
  pointer-events: all;
}

.portfolio-showcase-item img {
  width: 100%;
  height: auto;
  border: none;
  outline: none;
  background-color: var(--primary) !important;
  box-shadow: none !important;
  border-radius: var(--radius) !important;
  transition: var(--transition-duration);
}

.portfolio-showcase-item img:hover {
  transform: none !important;
  box-shadow: none !important;
}

.portfolio-showcase-item img:active {
  box-shadow: none !important;
}

.portfolio-showcase-item p {
  margin-top: 10px;
}

.protfolio-slideshow-item {
  display: none
}

.portfolio-showcase img {
  vertical-align: middle;
}

/* Slideshow container */
.portfolio-slideshow-container {
  max-width: 80%;
  margin: auto;
}

/* Next & previous buttons */
.portfolio-showcase .prev,
.portfolio-showcase .next {
  cursor: pointer;
  top: 50%;
  width: auto;
  padding: 16px;
  margin: 8px;
  font-weight: bold;
  font-size: 18px;
  transition: var(--transition-duration);
  color: var(--theme);
  background-color: var(--primary);
  border-radius: calc(var(--radius)/2);
  user-select: none;
}

/* Position the "next button" to the right */
.portfolio-showcase .next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.portfolio-showcase .prev:hover,
.portfolio-showcase .next:hover {
  background-color: var(--button-hover);
  transform: scale(1.1);
}

.portfolio-showcase .prev:active,
.portfolio-showcase .next:active {
  transform: scale(.9);
}

/* Caption text */
.portfolio-showcase .text {
  color: var(--primary);
  font-size: 15px;
  padding: 8px 12px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.portfolio-showcase .numbertext {
  color: var(--primary);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.portfolio-showcase .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 20px 2px;
  background-color: var(--primary);
  border-radius: 50%;
  border: 3px solid transparent;
  display: inline-block;
  transition: var(--transition-duration);
}

.portfolio-showcase .active {
  background-color: var(--theme);
  border-color: var(--primary);
}

.portfolio-showcase .dot:hover {
  background-color: var(--button-hover);
  transform: scale(1.25);
  transition: var(--transition-duration);
}

.portfolio-showcase .dot:active {
  transform: scale(.75);
  transition: var(--transition-duration);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: calc(var(--transition-duration)*3);
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1500px) {

  .portfolio-showcase-item {
    width: 100%;
    transition: var(--transition-duration);
  }
}

@media only screen and (max-width: 1200px) {
  .portfolio-showcase-item p {
    font-size: 16px;
    transition: var(--transition-duration);
  }
}

@media only screen and (max-width: 800px) {
  .portfolio-showcase-item p {
    font-size: 14px;
    transition: var(--transition-duration);
  }
}

@media only screen and (max-width: 600px) {
  .portfolio-showcase-item img {
    min-height: 64px !important;
    height: auto !important;
    transition: var(--transition-duration);
  }
}