.wip {
    background-color: var(--entry);
    color: var(--primary);
    border-radius: var(--radius);
    padding: 20px;
    text-align: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 15%);

}

.designs {
    align-items: center;
    align-content: center;
    margin: 5px -10px 0px -10px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.design {
    width: 100%;
    height: 100%;
    margin: 10px;
    padding: 0px;
    border: solid;
    border-width: 0;
    text-align: center;
    color: var(--primary);
    border-color: transparent;
    border-radius: var(--radius);
    background-color: var(--entry);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 15%);
    transition: .2s;
}

.design:hover {
    transform: scale(1.05);
    border-color: var(--primary);
    border-width: 5px;
    transition: .2s;
}

.design:active {
    transform: scale(.95);
    transition: .2s;
}

.design:hover > .design-image {
    transform: scale(.95);
    transition: .2s;
}

.design h1 {
    padding: 0;
    margin: 0;
    text-shadow: 5px 3px 5px rgba(0, 0, 0, 25%);
}

.design p {
    letter-spacing: 2px;
    margin: 0;
    padding: 10px;
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 25%);
}

.design-image {
    display: flex;
    padding: 10px;
    align-items: center;
    align-content: center;
    transition: .2s;
}

.design-image img {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 30%);
    width: 100%;
    align-self: center;
}

.design-description {
    padding: 20px;
    padding-top: 0px;
    text-align: left;
}

.design-description p {
    font-size: 16px;
    font-weight: 300;
}

@media only screen and (max-width: 1400px) {
    .designs {
    grid-template-columns: 2fr 2fr 2fr;

    }
}

@media only screen and (max-width: 1000px) {
    .designs {
    grid-template-columns: 1fr 1fr

    }
}

@media only screen and (max-width: 600px) {
    .designs {
    grid-template-columns: 1fr

    }
}