.post-single {
    max-width: 100% !important;
}

.wip {
    background-color: var(--entry);
    color: var(--primary);
    border-radius: var(--radius);
    padding: 20px;
    text-align: center;
    box-shadow: 0px 5px 10px var(--shadow-color);

}

.designs {
    align-items: center;
    align-content: center;
    margin: 5px -10px 0px -10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.design {
    width: 32%;
    height: 100%;
    padding: 0px;
    border: 5px solid transparent;
    text-align: center;
    color: var(--primary);
    border-radius: var(--radius);
    background-color: var(--entry);
    box-shadow: 0px 5px 10px var(--shadow-color);
    transition: var(--transition-duration);
}

.design:hover {
    transform: scale(1.05);
    border-color: var(--button-hover);
    transition: var(--transition-duration);
}

.design:active {
    transform: scale(.95);
    transition: var(--transition-duration);
}

.design:hover>.design-image img {
    box-shadow: 5px 5px 10px var(--shadow-color);
    transform: scale(1.15);
    transition: var(--transition-duration);
}

.design h1 {
    padding: 0 !important;
    margin: 1rem !important;
    text-shadow: 5px 3px 5px var(--shadow-color);
}

.design p {
    letter-spacing: 2px;
    margin: 0 !important;
    padding: 10px;
    text-align: center;
    text-shadow: 3px 3px 3px var(--shadow-color);
}

.design-image {
    display: flex;
    padding: 10px;
    clip-path: inset(0 round calc(var(--radius)*.6) calc(var(--radius)*.6) 0 0);
    align-items: center;
    align-content: center;
}

.design-image img {
    box-shadow: 0px 0px 10px var(--shadow-color);
    width: 100%;
    align-self: center;
    transition: var(--transition-duration);
}

.design-description {
    padding: 20px;
    padding-top: 0px;
    text-align: left;
}

.design-description p {
    font-size: 16px;
    font-weight: 300;
}

@media only screen and (max-width: 1568px) {
    .design {
        width: 45%;
    }
}

@media only screen and (max-width: 1112px) {
    .design {
        width: 100%;
    }
}