.post-parent {
    margin-right: 0;
    display: flex;
    flex-direction: row;
}

.post-single .entry-cover {
    display: none;
    width: 100%;
    height: 256px;
    outline: 5px solid transparent;
    clip-path: inset(0% 0% 0% 0% round var(--radius));
    margin-bottom: var(--gap);
    transition: var(--transition-duration);
}

.post-single .entry-cover a {
    width: 100%;
    height: 100%;
    position: absolute;
    flex: 1;
    box-shadow: none;
}

.post-single .entry-cover:hover {
    transform: scale(1.005);
    transition: var(--transition-duration);
}

.post-single .entry-cover:active {
    transform: scale(.995);
    transition: var(--transition-duration);
}

.post-single .entry-cover img {
    min-height: 200px;
    height: 100%;
    margin: 0;
    flex: 1;
}

.post-single {
    flex: 1;
    margin: auto;
}

hr {
    margin: calc(var(--gap) * 0.5) 0 calc(var(--gap) * 0) 0 !important;
    border: 2px solid var(--hr-color);
    border-radius: 4px;
    box-shadow: 0 2px 6px var(--shadow-color);
}

.page-header,
.post-header {
    margin: 0 auto 0 auto;
}

/* .post-header {
    margin-right: calc((100% - var(--nav-width))/2);
} */

.post-title {
    margin-bottom: 2px;
    font-size: 40px;
    font-weight: 800;
}

.post-description {
    margin-top: 10px;
    margin-bottom: 5px;
}

.post-meta {
    margin-top: calc(var(--gap) * 0.5);
}

.post-meta,
.entry-footer {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--gap)*.5);
}

.post-meta,
.breadcrumbs {
    color: var(--secondary);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    display: flex;
    flex-wrap: wrap;
}

.post-meta .i18n_list li {
    display: inline-flex;
    list-style: none;
    margin: auto 3px;
    box-shadow: 0 1px 0 var(--secondary);
}

.breadcrumbs a {
    font-size: 16px;
}

.breadcrumbs a:hover {
    color: var(--button-hover);
}

.post-content-parent .post-content {
    color: var(--content);
    width: 100%;
    margin: 0;
}

.post-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post-content hr {
    width: 100%;
    margin: 0 !important;
    margin-bottom: var(--gap) !important;
}

.post-content h1, h2, h3, h4, h5, h6{
    color: var(--primary);
    margin: 24px 0 8px;
}

.post-content h1 {
    font-size: 42px;
}

.post-content h2 {
    margin: calc(var(--gap) * 1) 0 calc(var(--gap) * 0.5);
    font-size: 32px;
}

.post-content h3 {
    font-size: 26px;
}

.post-content h4 {
    font-size: 22px;
}

.post-content h5 {
    font-size: 18px;
}

.post-content h6 {
    font-size: 16px;
}

.post-content a,

.post-content a code {
    margin: auto 0;
    border-radius: 0;
    box-shadow: 0 -1px 0 var(--button-hover) inset;
    color: var(--button-hover);
}

.post-content del {
    text-decoration: none;
    background: linear-gradient(to right, var(--primary) 100%, transparent 0) 0 50%/1px 1px repeat-x;
}

.post-content ol {
    margin-top: 0;
}

.post-content dl,
.post-content figure,
.post-content ul {
    margin-bottom: var(--content-gap);
}

.post-content ol,
.post-content ul {
    padding-inline-start: 20px;
}

.post-content li {
    margin-top: 5px;
}

.post-content li p {
    margin-bottom: 0;
}

.post-content dl {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.post-content dt {
    width: 25%;
    font-weight: 700;
}

.post-content dd {
    width: 75%;
    margin-inline-start: 0;
    padding-inline-start: 10px;
}

.post-content dd~dd,
.post-content dt~dt {
    margin-top: 10px;
}

.post-content table {
    width: fit-content;
    display: inline-table;
    background-color: transparent;
    color: var(--primary);
    font-size: 24px;
    margin-bottom: 32px;
    border-radius: var(--radius);
    table-layout: fixed;
    border: none !important;
}

thead tr th:first-child,
tbody tr td:first-child {
  width: 25%;
  max-width: fit-content;
  min-width: fit-content;
}

th,
td {
    padding: calc(var(--gap)/2) !important;
    background-color: var(--toc-bg);
    border-radius: var(--radius);
    word-wrap: break-word;
}

.post-content table th,
.post-content table:not(.highlighttable, .highlight table, .gist .highlight) td {
    min-width: 80px;
    padding: 12px 8px;
    line-height: 1.5;
    border: 5px solid var(--theme);
    border-collapse: collapse;
}

.post-content table tbody {
    font-size: 18px;
}

.post-content table th {
    text-align: start;
}

.post-content table:not(.highlighttable) td code:only-child {
    margin: auto 0;
}

.post-content .highlight table {
    border-radius: var(--radius);
}

.post-content .highlight pre {
    border-radius: var(--radius);
    background-color: transparent;
    outline: 5px solid transparent;
}

.post-content .highlight pre:focus {
    outline: 5px solid var(--button-hover);
}

.post-content .highlight .copy-code {
    outline: 5px solid transparent;
    border-radius: var(--radius);
    margin: 5px;
}

.post-content .highlight:not(table) {
    font-size: 24px;
    max-width: 100%;
    margin: 0;
    margin-bottom: var(--gap);
    background: var(--hljs-bg) !important;
    border-radius: var(--radius);
    direction: ltr;
    overflow-x: scroll;
}

.post-content li>.highlight {
    margin-inline-end: 0;
}

.post-content ul pre {
    margin-inline-start: calc(var(--gap) * -2);
}

.post-content .highlight pre {
    margin: 0;
}

.post-content .highlighttable {
    table-layout: fixed;
}

.post-content .highlighttable td:first-child {
    width: 40px;
}

.post-content .highlighttable td .linenodiv {
    padding-inline-end: 0 !important;
}

.post-content .highlighttable td .highlight,
.post-content .highlighttable td .linenodiv pre {
    margin-bottom: 0;
}

.post-content code {
    margin: auto 4px;
    padding: 2px 12px 4px 12px;
    font-size: 1rem;
    line-height: 1.5;
    background: var(--code-bg);
    border-radius: calc(var(--radius)*0.5);
    box-shadow: 2px 2px 2px var(--shadow-color);
}

.post-content pre code {
    display: block;
    margin: auto 0;
    padding: var(--gap);
    color: rgb(213, 213, 214);
    background: var(--hljs-bg) !important;
    border-radius: var(--radius);
    overflow-x: auto;
    word-break: break-all;
}

.post-content blockquote {
    margin: 20px 0;
    padding: 0 14px;
    border-inline-start: 3px solid var(--primary);
}

.post-content iframe {
    max-width: 100%;
    border-radius: var(--radius);
}

.post-content img {
    margin: calc(var(--gap)*0.8);
    margin-left: 0;
    padding: 8px;
    border-radius: calc(var(--radius)/2);
    width: auto;
    box-shadow: 3px 5px 10px var(--shadow-color);
    background-color: var(--image-background-color) !important;
    transition: var(--transition-duration);
}

.post-content img:hover {
    transform: translate(0, -6px);
    box-shadow: 10px 10px 20px var(--shadow-color);
    transition: var(--transition-duration);
}

.post-content img:active {
    transform: translate(0, 10px);
    box-shadow: 0 0 0 var(--shadow-color);
    transition: var(--transition-duration);
}

.post-content img[src*="#center"] {
    margin: 1rem auto;
}

.post-content figure.align-center {
    text-align: center;
}

.post-content figure>figcaption {
    color: var(--primary);
    font-size: 16px;
    font-weight: bold;
    margin: 8px 0 16px;
}

.post-content figure>figcaption>p {
    color: var(--secondary);
    font-size: 14px;
    font-weight: normal;
}

.post-content-parent {
    display: flex;
    flex-direction: row;
}

.post-image {
    display: block;

    margin: calc(var(--gap)*0.8) !important;
    margin-left: 0 !important;
    padding: 8px;
    border-radius: calc(var(--radius)/2) !important;
    width: fit-content;
    box-shadow: 3px 5px 10px var(--shadow-color) !important;
    background-color: var(--image-background-color) !important;
    transition: var(--transition-duration);
}

.post-image:hover {
    transform: translate(0, -6px);
    box-shadow: 10px 10px 20px var(--shadow-color) !important;
    transition: var(--transition-duration);
}

.toc {
    flex: 1 0 auto;
    order: 0;
    position: sticky !important;
    font-size: 16px;
    background-color: transparent;
    border: 2px solid var(--hr-color);
    top: calc(var(--gap)*4);
    bottom: calc(var(--gap)/2);
    z-index: 10;
    width: fit-content;
    max-width: 20%;
    height: 100%;
    margin-top: calc(var(--gap) * 1);
    margin-right: var(--gap);
    margin-bottom: auto;
    font-weight: 600;
    line-height: calc(var(--header-height)/2);
    border-radius: var(--radius);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 10%);
    transition: calc(var(--transition-duration)*1.5) cubic-bezier(0.175, 1, 0.3, 1.1);
}

.toc .inner {
    padding: calc(var(--gap)/2);
    padding-top: 0;
    overflow: scroll;
}

html:not([data-scroll='0']) .toc {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 10%);
    transition: calc(var(--transition-duration)*1.5) cubic-bezier(0.175, 1, 0.3, 1.1);
}

.toc li {
    margin-left: calc(var(--gap)/2);
    max-height: 600px;
    list-style-type: none;
}

.toc a,
.toc summary {
    width: 100%;
    display: inline-block;
    padding: 0px;
    border-radius: calc(var(--radius)/2);
    color: var(--primary);
    word-wrap: break-word;
    transition: var(--transition-duration);
}

.toc a::before {
    display: inline-block;
    content: "";
    width: 4px;
    height: 12px;
    border-radius: 6px;
    background: var(--code-bg);
    margin: auto 10px auto 0;
}

.toc summary {
    padding: 6px 12px;
    background-color: var(--code-bg);
    border-radius: calc(var(--radius) - 2px) calc(var(--radius) - 2px) 4px 4px;
    cursor: url("../../Cursors/HandPointing.png"), pointer;
}

.toc .inner {
    margin-top: 12px;
}

.toc a:hover,
.toc a:focus {
    box-shadow: none;
    background-color: var(--button-hover);
    color: var(--button-content-hover);
}

.toc summary:hover {
    outline: none;
    box-shadow: none;
    background-color: var(--button-hover);
    color: var(--button-content-hover);
}

.toc summary:focus {
    outline: none;
    background-color: var(--button-hover);
}

.post-footer {
    margin-top: 56px;
}

.post-tags {
    display: flex;
    gap: calc(var(--gap)*.5);
    flex-wrap: wrap;
    margin-top: var(--gap);
}

.post-tags li {
    display: inline-block;
}

.post-tags a {
    display: block;
    border-radius: calc(var(--radius)*.5);
    padding-inline-start: 14px;
    padding-inline-end: 14px;
    color: var(--theme);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 34px;
    background: var(--primary);
    transition: var(--transition-duration);
}

.post-tags a::before {
    content: "#";
}

.post-tags a:hover,
.post-tags a:focus {
    background: var(--button-hover);
    transform: scale(1.1);
    box-shadow: 3px 5px 15px var(--shadow-color);
    color: var(--button-content-hover);
}

.post-tags a:active {
    transform: scale(.95);
}

.paginav {
    background: var(--theme);
    border: 1px solid var(--border);
}

.paginav a {
    outline: 5px solid transparent;
}

.paginav a:hover {
    background: var(--button-hover);
    transform: scale(1.025);
    box-shadow: 3px 5px 15px var(--shadow-color);
    color: var(--button-content-hover);
}

.paginav a:hover>.title {
    color: var(--theme);
}

.paginav a:active {
    transform: scale(.95);
    transition: var(--transition-duration);
}

.paginav a:focus {
    outline: 5px solid var(--button-hover);
}

.share-buttons {
    margin: 14px 0;
    padding-inline-start: var(--radius);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.share-buttons a {
    margin-top: 10px;
    transition: var(--transition-duration);
}

.share-buttons a:not(:last-of-type) {
    margin-inline-end: 12px;
}

.share-buttons a:hover {
    color: var(--button-hover);
    transform: scale(1.2);
}

.share-buttons a:active {
    transform: scale(.8);
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
    display: inline-flex;
    color: var(--secondary);
    margin-inline-start: 8px;
    font-weight: 500;
    user-select: none;
}

.paginav {
    width: fit-content;
    border: none;
    margin: auto;
    display: flex;
    line-height: 30px;
    background-color: transparent;
    border-radius: var(--radius);
    justify-content: center;
    gap: var(--gap);
}

.paginav a {
    width: 100%;
    padding-inline-start: 14px;
    padding-inline-end: 14px;
    border-radius: var(--radius);
    transition: var(--transition-duration);
    flex-shrink: 0;
}

.paginav .title {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: small;
    color: var(--button-hover);
}

.paginav .prev,
.paginav .next {
    border-radius: calc(var(--radius)*.5);
    padding: calc(var(--gap)*.5);
    background-color: var(--hljs-bg);
    color: var(--button-content-hover);
    box-shadow: none;
}

.paginav span:hover:not(.title) {
    box-shadow: 0 1px 0;
}

.paginav .next {
    margin-inline-start: auto;
    text-align: right;
}

[dir="rtl"] .paginav .next {
    text-align: left;
}

h1>a>svg {
    display: inline;
}

img.in-text {
    display: inline;
    margin: auto;
}


@media only screen and (max-width: 650px) {
    .toc {
        max-width: none;
    }

    .paginav {
        width: 100%;
    }

    .paginav a {
        width: 100%;
        flex-shrink: 1;
    }
}

@media only screen and (max-width: 1500px) {

    .post-parent {
        margin: 0;
    }

    .post-content-parent {
        margin: auto;
        flex-direction: column;
    }

    .post-content {
        max-width: none;
    }

    .toc {
        max-width: none;
        width: auto;
        order: 0;
        top: auto;
        margin: var(--gap) auto var(--gap) 0;
        transition: var(--transition-duration);
    }

    .post-single .entry-cover {
        min-height: 64px;
    }

    .post-single {
        max-width: 100%;
        width: 100%;
    }

    .post-content table tbody td {
        padding: 1px;
    }
}