.buttons,
.main .profile {
    display: flex;
    justify-content: center;
}

.main .profile {
    align-items: center;
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - (var(--gap) * 2));
    text-align: center;
}

.profile .profile_inner h1 {
    padding: 12px 0;
    font-weight: 600;
    text-shadow: 1px 3px 3px var(--shadow-color);
    transition: .2s;
}

.profile .profile_inner span{
    font-weight: 500;
    font-size: 20px;
    /* background-color: var(--button-hover);
    padding: calc(var(--gap)/4) calc(var(--gap)/2);
    border-radius: var(--radius); */
}

.profile img {
    display: inline-table;
    border-radius: 50%;
    box-shadow: 3px 5px 15px var(--shadow-color);
    transition: all var(--transition-duration), transform calc(var(--transition-duration)*3) cubic-bezier(0.175, 1, 0.3, 2);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.profile img:hover {
    transform: scale(1.1) perspective(35em) rotateX(15deg) rotateY(-8deg);
    box-shadow: 7px 15px 25px var(--shadow-color);
}

.profile img:active {
    box-shadow: 1px 3px 5px var(--shadow-color);
    transform: scale(.95);
}

.profile span {
    text-shadow: 3px 5px 5px var(--shadow-color);
}

.buttons {
    max-width: 400px;
    margin: 0 auto;
    font-size: 0;
}

.button {
    background: var(--primary);
    border: 3px solid transparent;
    border-radius: calc(var(--radius)/2) !important;
    box-shadow: 2px 5px 10px var(--shadow-color) !important;
    margin: 8px;
    padding: 6px;
    transition: all var(--transition-duration), transform var(--transition-duration) cubic-bezier(0.175, 0.885, 0.32, 2.275) !important;
    color: var(--tertiary);
    outline: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
}

.button:hover {
    background: var(--button-hover);
    color: var(--button-content-hover);
    transform: scale(1.05) !important;
}

.button:focus {
    border-color: var(--button-hover);
}

.button:hover .button-inner {
    color: var(--button-content-hover);
}

.button-inner {
    display: flex;
    padding: 0 8px;
    font-weight: 600 !important;
    color: var(--tertiary);
    /* padding: none !important;
    background-color: transparent !important; */
}

.button-inner svg {
    margin: auto;
    margin-left: 4px;
    margin-bottom: 1px;
}

.button:active {
    transform: scale(0.96) !important;
}

@media only screen and (max-width: 468px) {
    .buttons {
        flex-direction: column;
        height: auto;
    }
}