.terms-tags {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--gap) * 0.5);
    max-width: var(--nav-width);
    margin: 0;
    margin-top: var(--gap);
}

.terms-tags li {
    display: inline-block;
}

.terms-tags .post-tag {
    font-size: 18px !important;
    padding: 2px;
    padding-bottom: 3px;
    padding-inline-start: 8px;
    padding-inline-end: 4px;
}